@import "../vars";
@import "../functions";

.basicList {
  &__item {
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      top: 5px;
      left: 4px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $is_base_color_dark;
      content: "";
    }

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}
