@import "../vars";
@import "../functions";

.githubLink {
  display: block;
  background-color: #fff;
  opacity: 1;
  transition: opacity $anime_base_duration ease;

  &:hover {
    opacity: 0.7;
  }
}
