@import "../../vars";
@import "../../functions";

.naviItem {
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    height: $app__navi_height;
    background-color: $is_base_color;
    color: $is_color_gray0;
    text-decoration: none;
    transition: background-color $anime_base_duration ease;

    &:hover {
      background-color: $is_base_color_dark;
    }

    &--current {
      background-color: $is_base_color_dark;
      pointer-events: none;
    }

    &--disabled {
      background-color: $is_color_gray500;
      pointer-events: none;
    }
  }
}
