@import "../vars";
@import "../functions";

$top: 50px;

.curriculumVitae {
  &__container {
    display: flex;
    margin-top: 10px;
  }

  &__navi {
    padding-top: $top;
    padding-right: 30px;
    width: 250px;
    background-color: $is_color_gray0;
  }

  &__naviInner {
    position: sticky;
    top: $top;
    left: 0;
  }

  &__naviItem {
    padding: 10px;
    border-radius: $border_radius;
    background-color: $is_color_gray200;
    font-weight: 600;
    opacity: 0.5;
    transition: opacity $anime_base_duration ease;

    &:hover,
    &--current {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }

    &--current {
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__naviPeriod {
    @include font-size(14);
  }

  &__naviName {
    margin-top: 3px;
    color: $is_base_color;
  }

  &__body {
    flex: 1;
  }

  &__content {
    padding-top: $top;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
