@import "../vars";
@import "../functions";

.home {
  padding: 80px;
  height: 100%;

  &__navi {
    display: grid;
    height: 100%;
    column-gap: 30px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__item {
    &Inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      border: 5px solid $is_base_color;
      background-color: $is_color_gray0;
      text-decoration: none;
      transition: background-color $anime_base_duration ease;

      &:hover {
        background-color: $is_base_color;

        .home__text,
        .home__subText {
          color: $is_color_gray0;
          transform: scale(1.2);
        }
      }
    }
  }

  &__text {
    font-weight: 700;
    transition: color $anime_base_duration ease,
      transform $anime_base_duration ease;

    @include font-size(20);
  }

  &__subText {
    margin-top: 5px;
    transition: color $anime_base_duration ease,
      transform $anime_base_duration ease;

    @include font-size(14);
  }
}
