/*------------------------------------------------------------
*デフォルトスタイル
*
*ブラウザの差異をなくすためリセット
------------------------------------------------------------*/
html,
body,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
button,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 1rem;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  text-size-adjust: 100%;
}

html,
table,
input,
select,
option,
textarea,
button {
  @include font_base;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio {
  &:not([controls]) {
    display: none;
    height: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
select,
option,
button {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input {
  &[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;

      appearance: none;
    }
  }

  &:not([type="text"]) {
    margin: 0;
    cursor: pointer;
  }
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;

  appearance: none;
}

button,
select {
  margin: 0;
  text-transform: none;
  cursor: pointer;
}

button,
input,
select {
  overflow: visible;
}

u {
  text-decoration: none;
}

em {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  background-color: transparent;

  &:active,
  &:hover {
    outline-width: 0;
  }
}
