@import "../vars";
@import "../functions";

.home {
  position: relative;
  overflow: hidden;
  padding: 0 80px;
  height: 100%;

  &__navi {
    display: grid;
    margin: 0 auto;
    width: calc(
      100vh - #{$app__haederInner_height} - #{$app__footer_height} + 60px
    );
    height: 100%;
    column-gap: 30px;

    grid-template-columns: repeat(3, minmax(42px, 1fr));
    grid-template-rows: repeat(3, minmax(42px, 1fr));
  }

  &__naviItem {
    grid-row: 2;
  }
}
